[Unit]
Description=WebService
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
WorkingDirectory=/home/pi/aruco_leaderboard
ExecStart=/usr/bin/python3 /home/pi/aruco_leaderboard/service_entrypoint.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
